<% ## Partial containing the Sub-Menu for the Mystic Forge recipes.
   ## TODO: Create menus Dynamically %>
<table>
 <tr>
  <td><%= link_to 'Random Transmutes', :filter => :random %>
  <td><%= link_to 'Static Transmutes', :filter => :static %>
 </tr>
</table>
