// Place all the styles related to the Forge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.negative{
color:red;
}
.gold{
color:goldenrod;
}
.silver{
color:grey;
}
.copper{
color:chocolate;
}
